name: Build Index

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install

      - name: Build index
        run: node scripts/build-index.js

      - name: Commit index
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          file_pattern: dist/index.json
          commit_message: "Update index.json"
